/* 

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */
#root {
  max-width: 1920px;
  text-align: center;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.return-btn{
  margin-top: 2rem;
}

/* HOME */

  .main-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-img-container{
  width: 20rem;
  height: 33vh;
  margin-bottom: 2rem;
  border: none;
  }

  .btn-section{
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }

  .first-set, .second-set{
  display: flex;
  flex-direction: column;
  }

  .home-btn{
  width: 20rem;
  height: 10vh;
  cursor: pointer;
  }

  .home-img{
    width: 100%;
    height: 100%;
  }

  .home-btn{
    background-color: black;
    color: white;
    margin-bottom: 1rem;
}



/* PROJECTS */

  .project-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "project-list selected-project";
    margin: 2rem
  }

  .selected-project { grid-area: selected-project; }
    
  .project-list { grid-area: project-list; }

  .img-container{
    width: 50rem;
    height: 45vh;
  }

  .slected-project-img{
    width: 100%;
    height: 100%;
  }

  .project-list{
    width: 30vh;
}



/* ABOUT */


  .section{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .about-txt{
    margin: 1rem 4rem 0 2rem;
  }

  .about-img-container{
    width: 57rem;
    height: 40vh;
    margin-bottom: 2rem;
    border: none;
    margin-left: 5rem;
}



/* CONTACT */

  .contact-section{
    margin-top: 5rem;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .contact-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

/* EXTRA */

  .extra-section{
    margin-top: 5rem;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }


/* QUERIES */

@media only screen and (max-width:1500px){

  /* HOME */
  
  .main-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-img-container{
    width: 15rem;
    height: 25vh;
    margin-bottom: 2rem;
    border: none;
  }

  .btn-section{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .first-set, .second-set{
    display: flex;
    flex-direction: column;
  }

  .home-btn{
    width: 20rem;
    height: 10vh;
    cursor: pointer;
  }

  .project-list{
    margin-right: 10rem;
  }

  .img-container{
    width: 50rem;
    height: 47vh;
  }


  /* ABOUT */

  .section{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .about-txt{
    margin: 1rem 2rem;
  }
  
  .about-img-container{
    width: 57rem;
    height: 33vh;
    margin-bottom: 2rem;
    border: none;
    margin-left: 5rem;
  }


  
  /* CONTACT */

  .contact-section{
    margin-top: 5rem;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  
  /* EXTRA */

  .extra-section{
    margin-top: 5rem;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

}


@media only screen and (max-width:489px){

  body{
    display: block;
  }

  /* HOME */

  .main-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-img-container{
    width: 15rem;
    height: 25vh;
    margin-bottom: 2rem;
    border: none;
  }

  .btn-section{
    display: flex;
    flex-direction: column;
    width: 70vw;
  }

  .home-btn{
    width: 20rem;
    height: 10vh;
  }
  

  /* PROJECT */

  .project-section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin:0;
  }

  .selected-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-container{
    width: 15rem;
    height: 25vh;
  }

  .project-list{
    width: 40vh;
    margin-right: 0rem;
  }



  /* ABOUT */

  .section{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-txt{
    margin: 1rem 2rem;
  }

  .about-img-container{
    width: 15rem;
    height: 25vh;
    margin-bottom: 2rem;
    border: none;
    margin-left: 0;
  }


  /* CONTACT */

  .contact-section{
    margin-top: 5rem;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .contact-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .contact-link{
    margin-top: 2rem;
  }


  /* EXTRA */

  .extra-section{
    margin-top: 5rem;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .extra-btn-B{
    margin-top: 1rem;
  }

}


@media only screen and (max-width:360px){

  .home-img-container{
    height: 35vh;
  }

  .project-list{
    width: 57vh;
  }

}