
#root {
  max-width: 1920px;
  text-align: center;
  overflow-x: hidden;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.return-btn{
  margin: 2rem 0;
  background: #000;
  color: black;
  line-height: 42px;
  padding: 0;
  border: none;
}

/* HOME */

  .main-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-img-container{
  width: 20rem;
  min-height: 33vh;
  margin-bottom: 2rem;
  border: none;
  }

  .btn-section{
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }

  .first-set, .second-set{
  display: flex;
  flex-direction: column;
  }

  .home-btn{
  width: 20rem;
  height: 10vh;
  cursor: pointer;
  }

  .home-img{
    width: 100%;
    height: 100%;
  }

  .custom-btn {
    width: 440px;
    height: 80px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }

  .home-btn {
    background: #000;
    color: #fff;
    line-height: 42px;
    padding: 0;
    border: none;
    margin-bottom: 1rem;
  }

  .home-btn:hover{
    background: transparent;
    color: #000;
     box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
  }

  .home-btn:before,
  .home-btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #000;
    transition:400ms ease all;
  }

  .home-btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  
  .home-btn:hover:before,
  .home-btn:hover:after
  {
    width:100%;
    transition:800ms ease all;
  }



/* PROJECTS */

  .project-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "project-list selected-project";
    margin: 2rem
  }

  .selected-project { grid-area: selected-project; }
    
  .project-list { grid-area: project-list; }

  .img-container{
    width: 50rem;
    height: 45vh;
    border-radius: 10px;
    border: 5px solid black;
  }

  .slected-project-img{
    width: 100%;
    height: 100%;
  }

  .project-list{
    width: 30vh;
}



/* ABOUT */


  .section{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .about-txt{
    margin: 1rem 4rem 0 2rem;
  }

  .about-img-container{
    width: 57rem;
    height: 40vh;
    margin-bottom: 2rem;
    border: none;
    margin-left: 5rem;
}

.tech-section{
  display: block;
}

.tech-zone{   
  display: flex;
  flex-direction: column;
  transition: all 0.1s;
}

.tech-icons-zone{
display: flex;
justify-content: center;
margin-top: 2rem;
}

.tech-info{
  margin-top: 4rem;
  margin: 4rem 2rem 0 2rem;
  display: flex;
  flex-direction: row;
}

.tech-info-img{
  width: 270px;
  height: 300px;
}

.tech-img{
  width: 100px;
  height: 100px;
}

.tech-info-txt{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.tech, .tech-txt{
  text-align: center;
  margin-left: 1rem;
  margin-right: 1.5rem;
  transition: all 0.3s;
}

.tech:hover{
  transform: scale(1.5);
}


/* CONTACT */

  .contact-section{
    margin-top: 5rem;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .contact-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .contact{
    background-color: #1a1919;
    padding-top: 5rem;
    padding-bottom: 4rem;
  }

  .contact-icon{
    color: white;
    transition: all 0.3s ease-out;
  }

  .contact-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
    margin-top: 2rem;
  }

  .contact-txt-B{
      transition: all 0.3s ease-out;
  }

  .contact-txt-B{
      color: white;
  }

  .contact-link:hover .contact-icon{
      transform: translateY(-15px); 
  }

  .contact-link:hover .contact-txt-B{
      color: #7537e7 ; 
  }



/* EXTRA */

  .extras-zone{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding: 0 2rem 5rem 2rem;
    justify-content: space-around;
  }

  .extra-btn{
    padding: 1.5rem;
    border-radius: 15px;
  }

  .extra-btn-B{
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .extra-btn-B:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
  }



/* QUERIES */

@media only screen and (max-width:1500px){

  /* HOME */

  .home-img-container{
    min-width: 21rem;
  }

  .project-list{
    margin-right: 10rem;
  }


  /* ABOUT */

  .about-txt{
    margin: 1rem 2rem;
  }
  
  .about-img-container{
    height: 33vh;
  }


  .tech-section{
    display: block;
  }
  
  .tech-zone{   
    display: flex;
    flex-direction: column;
    transition: all 0.1s;
  }

  .tech-icons-zone{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .tech-info{
    margin-top: 4rem;
    margin: 4rem 2rem 0 2rem;
    display: flex;
    flex-direction: row;
  }

  .tech-info-img{
    width: 270px;
    height: 300px;
  }

  .tech-img{
    width: 100px;
    height: 100px;
  }

  .tech-info-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }

  .tech, .tech-txt{
    text-align: center;
    margin-left: 1rem;
    margin-right: 1.5rem;
    transition: all 0.3s;
  }

  .tech:hover{
    transform: scale(1.5);
  }
  

  
  /* CONTACT */

  .contact-section{
    margin-top: 5rem;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  
  /* EXTRA */

  .extra-section{
    margin-top: 5rem;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

}


@media only screen and (max-width:489px){

  body{
    display: block;
  }

  /* HOME */

  .main-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-img-container{
    min-width: 15rem;
    min-height: 37vh;
    margin-bottom: 2rem;
    border: none;
  }

  .btn-section{
    display: flex;
    flex-direction: column;
    width: 70vw;
  }

  .home-btn{
    width: 20rem;
    height: 10vh;
  }
  

  /* PROJECT */

  .project-section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin:0;
  }

  .selected-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-container{
    width: 15rem;
    height: 25vh;
  }

  .project-list{
    width: 40vh;
    margin-right: 0rem;
  }



  /* ABOUT */

  .section{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-txt{
    margin: 1rem 2rem;
  }

  .about-img-container{
    width: 15rem;
    height: 25vh;
    margin-bottom: 2rem;
    border: none;
    margin-left: 0;
  }

  .tech-section{
    display: flex;
    flex-direction: column;
  }

  .tech-icons-zone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tech-img{
    width: 200px;
    height: 200px;
  }

  /* CONTACT */

  .contact-section{
    margin-top: 5rem;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .contact-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  /* EXTRA */

  .extra-section{
    margin-top: 5rem;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .extra-btn-B{
    margin-top: 1rem;
  }

}


@media only screen and (max-width:360px){

  .home-btn{
    width: 15rem;
  }

  .home-img-container, .about-img-container{
    height: 14rem;
    width: 14rem;
  }

  .project-list{
    width: 57vh;
  }

  .tech-section{
    display: flex;
    flex-direction: column;
  }

  .tech-icons-zone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tech-img{
    width: 200px;
    height: 200px;
  }

}