
#root {
  max-width: 1920px;
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  transition: all 0.2s;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#appBody{
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.section-sub{
  font-family: 'Kanit', sans-serif;
  text-decoration:underline;
}

.title, .sub-title{
  font-family: 'Kanit', sans-serif;;
}
.sectionsection{
  margin-bottom: 2rem;
}
.rest{
  margin-top: 20rem;
}

.theme-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  background-color: white;
}

.theme-container:hover {
  opacity: 0.8;
  scale: 1.1;
}

.lang-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  top: 20px;
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  background-color: white;
}

.lang-container:hover {
  opacity: 0.8;
  scale: 1.1;
}

.shadow-dark {
  background: linear-gradient(145deg, #23282c, #1e2125);
  box-shadow:17px 1px 40px #1a1d20, -17px -17px 40px #282d32, inset 5px 5px 4px #1e2226, inset -5px -5px 4px #24282c;
}

.shadow-light {
  box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff,
    inset 7px 7px 3px rgba(209, 217, 230, 0.35),
    inset -11px -11px 3px rgba(255, 255, 255, 0.3)
}

.change {
  animation-name: change;
  animation-duration: 1s;
  animation-direction: alternate;
}

.nav-bars{
  display: flex;
  justify-content: flex-start;
  position: fixed;
  z-index: 4;
  height: 7.5vh;
}

.section-nav{
  display: none;
}

/* HOME */

  .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }


  .home-img-container {
    height: 22rem;
    width: 20vw;
    margin-bottom: 1rem;
    margin-top: 6rem;
    position: relative;
  }
  
  .box__line {
    position: absolute;
    background: black;
  }

  .box__line--top, .box__line--bottom {
    height: 8px;
    width: 100%;
  }

  .box__line--top::before, .box__line--top::after, .box__line--bottom::before, .box__line--bottom::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: black;
  }

  .box__line--top {
    top: -8px;
  }

  .box__line--top::before {
    left: 0;
    bottom: -8px;
  }

  .box__line--top::after {
    right: 0;
    bottom: -8px;
  }

  .box__line--bottom {
    bottom: -8px;
  }

  .box__line--bottom::before {
    left: 0;
    top: -8px;
  }

  .box__line--bottom::after {
    right: 0;
    top: -8px;
  }

  .box__line--left, .box__line--right {
    width: 8px;
    height: 100%;
  }

  .box__line--left {
    left: -8px;
  }

  .box__line--right {
    right: -8px;
  }

  .title{
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .sub-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 2rem;
  }

  .sub-title-span-B{
    font-size: 30px;
    background-image: linear-gradient(
    -225deg,
    #b8e2f1 0%,
    #8edbf7 29%,
    #45c0ec 67%,
    #04b0ee 100%
    );
    animation: textclip 2s linear infinite;
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .sub-title-span-A{
    font-size: 30px;
    background-image: linear-gradient(
    -225deg,
    #8855e9 0%,
    #5319bd 29%,
    #3e1291 67%,
    #2a1949 100%
    );
    animation: textclip 2s linear infinite;
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

  .btn-section{
  width: 100vw;
  height: 26vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 4rem;
  }

  .first-set, .second-set{
  display: flex;
  flex-direction: column;
  }

  .home-btn{
  width: 20rem;
  height: 10vh;
  cursor: pointer;
  }

  .home-img{
    width: 100%;
    height: 100%;
  }

  .custom-btn {
    width: 440px;
    height: 80px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }

  .custom-btn-2 {
    width: 440px;
    height: 80px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    margin-top: 1rem;
  }

  .custom-btn-3{
    width: 240px;
    height: 80px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    margin-top: 1rem;
  }

  .custom-mode-btn {
    width: 91px;
    height: 40px;
    margin-right: 1rem;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    text-align: center;
  }

  .home-btn {
    background: #000;
    color: #fff;
    line-height: 42px;
    padding: 0;
    border: none;
    margin-bottom: 1rem;
  }

  

  .home-btn:hover{
    background: transparent;
    color: #000;
     box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
  }

  .home-btn:before,
  .home-btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #000;
    transition:400ms ease all;
  }

  .home-btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  
  .home-btn:hover:before,
  .home-btn:hover:after
  {
    width:100%;
    transition:800ms ease all;
  }

  .return-btn {
    border: solid 1px black;
    background: white;
    color: black;
    line-height: 42px;
    padding: 0;
    margin-bottom: 1rem;
  }
    
  .return-btn:hover {
    background: black;
    color: white;
        box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
        border: none;
  }
  
  .return-btn:before,
  .return-btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: white;
    transition:400ms ease all;
  }
  
  .return-btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  
  .return-btn:hover:before,
  .return-btn:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  .go-project-btn, .go-extra-btn{
    z-index: 2;
    transition: all 0.3s ease;
    overflow: hidden;
    background-color: white;
  }

  .go-project-btn:after, .go-extra-btn:after{
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
  }

  .go-project-btn:hover, .go-extra-btn:hover{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    color: #fff;
  }

  .go-project-btn:hover:after, .go-extra-btn:hover:after{
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    background: #000;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  }

/* PROJECTS */

  .project-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "project-list selected-project";
    margin: 2rem
  }

  .selected-project { 
    grid-area: selected-project; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  .project-list { grid-area: project-list; }

  .img-container{
    width: 40vw;
    height: 45vh;
    border-radius: 10px;
    border: 5px solid black;
  }

  .slected-project-img{
    width: 100%;
    height: 100%;
  }

  .project-list{
    width: 51vh;
  }

  .go-project-btn{
    margin-top: 1rem;
    width: 440px;
    height: 80px;
    background-color: white;
  }

  .go-project-black{
    background-color: white;
  }

  .go-extra-btn{
    margin-top: 1rem;
    width: 240px;
    height: 80px;
  }



/* ABOUT */


  .section{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .about-txt{
    margin: 1rem 4rem 0 2rem;
  }

  .about-img-container{
    width: 50vw;
    height: 40vh;
    margin-bottom: 2rem;
    border: none;
    margin-left: 5rem;
}

.tech-section{
  display: block;
}

.tech-zone{   
  display: flex;
  flex-direction: column;
  transition: all 0.1s;
}

.tech-icons-zone{
display: flex;
justify-content: center;
margin-top: 2rem;
}

.tech-info{
  margin-top: 4rem;
  margin: 4rem 2rem 0 2rem;
  display: flex;
  flex-direction: row;
}

.tech-info-img{
  width: 270px;
  height: 300px;
}

.tech-img{
  width: 100px;
  height: 100px;
}

.tech-info-txt{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.tech, .tech-txt{
  text-align: center;
  margin-left: 1rem;
  margin-right: 1.5rem;
  transition: all 0.3s;
}

.tech:hover{
  transform: scale(1.5);
}

.tech-info{
  margin-bottom: 5rem;
}

.tech-i-use{
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
}


/* CONTACT */

  .contact-section{
    margin-top: 5rem;
    width: 100vw;
    max-width:100%;
    display: flex;
    flex-direction: column;
  }

  .contact-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .contact{
    background-color: #1a1919;
    padding-top: 5rem;
    padding-bottom: 4rem;
  }

  .contact-icon{
    color: white;
    transition: all 0.3s ease-out;
  }

  .contact-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
    margin-top: 2rem;
  }

  .contact-txt-B, .contact-txt-A{
    transition: all 0.3s ease-out;
  }

  .contact-txt-B{
    color: white;
  }

  .contact-txt-A{
    color: rgb(36, 36, 36);
  }

  .contact-link:hover .contact-icon{
      transform: translateY(-15px); 
  }

  .contact-link:hover .contact-txt-B{
      color: #7537e7 ; 
  }

  .contact-link:hover .contact-txt-A{
    color: #04b0ee ; 
  }



/* EXTRA */

  .extras-zone{
    display: flex;
    align-items: center;
    padding: 0 2rem 5rem 2rem;
    justify-content: space-around;
    margin-top: 5rem;
  }

  .extra-intro{
    margin-top: 3rem;
  }
  


/* QUERIES */



@media only screen and (max-width:1700px){
  .about-img-container{
    height: 32vh;
    width: 53vw;
  }

}


@media only screen and (max-width:1500px){

  /* HOME */

  .home-img-container{
    height: 18rem;
    width: 20vw;
  }

  .img-container{
    width: 40vw;
    height: 44vh;
  }

  .project-list{
    margin-right: 10rem;
    width: 30vh;
  }


  /* ABOUT */

  .about-txt{
    margin: 1rem 2rem;
  }
  
  .about-img-container{
    height: 36vh;
    width: 62vw;
  }


  .tech-section{
    display: block;
  }
  
  .tech-zone{   
    display: flex;
    flex-direction: column;
    transition: all 0.1s;
  }

  .tech-icons-zone{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .tech-info{
    margin-top: 4rem;
    margin: 4rem 2rem 0 2rem;
    display: flex;
    flex-direction: row;
  }

  .tech-info-img{
    width: 270px;
    height: 300px;
  }

  .tech-img{
    width: 100px;
    height: 100px;
  }

  .tech-info-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }

  .tech, .tech-txt{
    text-align: center;
    margin-left: 1rem;
    margin-right: 1.5rem;
    transition: all 0.3s;
  }

  .tech:hover{
    transform: scale(1.5);
  }
  

  
  /* CONTACT */

  .contact-section{
    margin-top: 5rem;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  
  /* EXTRA */

  .extra-section{
    margin-top: 5rem;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

}



@media only screen and (max-width:489px){

  #root{
    overflow-y: auto;
  }
  
  body{
    display: block;
  }

  h1{
    margin-bottom: 2rem;
  }

  .rest{
    margin-top: 0;
  }

  /* HOME */

  .main-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-img-container{
    min-width: 19rem;
    height: 19rem;
    margin-bottom: 2rem;
    border: none;
  }

  .btn-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    height: 59vh;
  }

  .home-btn, .return-btn, .go-project-btn{
    width: 20rem;
    height: 10vh;
  }

  .return-btn{
    margin-bottom: 4rem;
  }

  .go-project-btn{
    margin-bottom: 1rem;
  }
  

  /* PROJECT */

  .project-section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin:0;
  }

  .selected-project{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-container{
    width: 15rem;
    height: 25vh;
  }

  .project-list{
    width: 53vh;
    margin-right: 0rem;
  }



  /* ABOUT */

  .section{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-txt{
    margin: 1rem 2rem;
  }

  .about-img-container{
    width: 15rem;
    height: 28vh;
    margin-bottom: 2rem;
    border: none;
    margin-left: 0;
  }

  .tech-section{
    display: flex;
    flex-direction: column;
  }

  .tech-icons-zone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tech-img{
    width: 140px;
    height: 140px;
  }

  .tech-info{
    flex-direction: column;
  }

  .tech-info-txt{
    margin-bottom: 5rem;
  }

  

  /* CONTACT */

  .contact-section{
    margin-top: 5rem;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .contact-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  /* EXTRA */

  .extras-zone{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

  .extra-btn-B{
    margin-top: 1rem;
    width: 10rem;
  }

  .extra-intro{
    margin-top: 0;
  }

}


@media only screen and (max-width:360px){

  .home-btn, .return-btn, .go-project-btn{
    width: 15rem;
  }

  .home-img-container, .about-img-container{
    height: 14rem;
    width: 14rem;
  }

  .project-list{
    width: 57vh;
  }

  .tech-section{
    display: flex;
    flex-direction: column;
  }

  .tech-icons-zone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tech-img{
    width: 200px;
    height: 200px;
  }

}

.hide{
  display: none;
}

.white{
  background-color: rgb(255, 255, 255);
}

.black{
  background-color: #333;
}

/* ANIMATIONS */

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes change {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}


